body {
    background-image:url('../img/100x100seenthusbakgrunds.jpg');
    background-repeat:repeat;
}

@font-face {
    font-family:'Pitch regular';
    font-weight:normal;
    font-style:normal;
    src: url('http://files.jcink.net/uploads/skinsbylc/pitch_regular_5978550d99b24__1_.otf');
}

table#listform {
    width:80%;
    margin:auto;
    box-sizing:border-box;
    padding:25px;
    font-family:'Pitch regular';
    font-style:normal;
    font-weight:normal;
    font-size:15px;
    background:#f4f2ec;
}

table#listform th {
    text-align:left;
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
    margin-bottom:15px;
}