@font-face {
    font-family:'Pitch regular';
    font-weight:normal;
    font-style:normal;
    src: url('http://files.jcink.net/uploads/skinsbylc/pitch_regular_5978550d99b24__1_.otf');
}

body {
    background:#fff;
    margin:0;
    margin-top:20px;
    background-image:url('../img/100x100seenthusbakgrunds.jpg');
    background-repeat:repeat;
    overflow-x:hidden;
}

#wrapper {
    margin:auto;
    margin-bottom:0;
    display:flex;
    display:-webkit-flex;
    display:-ms-flex;
    justify-content:flex-start;
    align-items:stretch;
}

/** START INVITES FOR DESKTOP **/

@media(min-width:1700px) {
    
    #wrapper {
        width:1300px;
        flex-flow:row nowrap;
        flex-direction:-ms-row;
        flex-wrap:-ms-nowrap;
    }

    #wrapper .invite {
        align-self:center;
    }

    #wrapper .invite img {
        box-shadow:2px 2px 30px #000;
        max-width:100%;
        height:auto;
    }
    
    #wrapper .invite.left {
        margin:auto;
        margin-right:100px;
    }

    #wrapper .invite.right .text {
        bottom:50px;
        width:280px;
        right:35px;
        font-size:12px;
    }

    #wrapper .invite.right .oct {
        position:absolute;
        left:40px;
        bottom:60px;
    }

    #wrapper .invite.right .oct img {
        box-shadow:none;
        max-width:67%;
    }

    #formbg .form {
        width:35%;
    }

    #formbg {
        top:80px;
    }
}

@media(max-width:1690px) {

    #wrapper {
        width:1300px;
        flex-flow:row nowrap;
        flex-direction:-ms-row;
        flex-wrap:-ms-nowrap;
    }
    
    #wrapper .invite {
        align-self:center;
    }

    #wrapper .invite img {
        box-shadow:2px 2px 30px #000;
        max-width:100%;
        height:auto;
    }
    
    #wrapper .invite.left {
        margin:auto;
        margin-right:100px;
    }

    #wrapper .invite.right .text {
        bottom:50px;
        width:280px;
        right:35px;
        font-size:12px;
    }

    #wrapper .invite.right .oct {
        position:absolute;
        left:40px;
        bottom:60px;
    }

    #wrapper .invite.right .oct img {
        box-shadow:none;
        max-width:67%;
    }

    #formbg .form {
        width:35%;
    }

    #formbg {
        top:80px;
    }
}

@media(max-width:1300px) {
    #wrapper {
        width:1200px;
        flex-flow:row nowrap;
        flex-direction:-ms-row;
        flex-wrap:-ms-nowrap;
    }
    
    #wrapper .invite {
        align-self:center;
    }

    #wrapper .invite img {
        box-shadow:2px 2px 30px #000;
        max-width:100%;
        height:auto;
    }
    
    #wrapper .invite.left {
        margin:auto;
        margin-right:100px;
    }

    #wrapper .invite.right .text {
        bottom:50px;
        width:280px;
        right:2em;
        font-size:11px;
    }

    #wrapper .invite.right .oct {
        position:absolute;
        left:40px;
        bottom:60px;
    }

    #wrapper .invite.right .oct img {
        box-shadow:none;
        max-width:55%;
    }

    #formbg .form {
        width:55%;
    }

    #formbg {
        top:80px;
    }
}

@media(max-width:1024px) {
    #wrapper {
        width:100%;
        flex-flow:column wrap;
        flex-direction:-ms-column;
        flex-wrap:-ms-wrap;
    }
    
    #wrapper .invite {
        align-self:center;
    }

    #wrapper .invite img {
        max-width:100%;
        height:auto;
    }
    
    #wrapper .invite.left {
        margin:auto;
        margin-bottom:45px;
    }
    
    #wrapper .invite.right {
        margin-bottom:45px;
    }

    #wrapper .invite.right .text {
        bottom:50px;
        width:320px;
        right:55px;
        font-size:14px;
    }

    #wrapper .invite.right .oct {
        position:absolute;
        left:40px;
        bottom:60px;
    }

    #wrapper .invite.right .oct img {
        box-shadow:none;
        max-width:100%;
    }
    
    #formbg {
        top:30px;
    }
}

@media(max-width:760px) {
    #wrapper {
        width:100%;
        flex-flow:column wrap;
        flex-direction:-ms-column;
        flex-wrap:-ms-wrap;
    }
    
    #wrapper .invite {
        align-self:center;
    }

    #wrapper .invite img {
        max-width:100%;
        height:auto;
    }
    
    #wrapper .invite.left {
        margin:auto;
        margin-bottom:45px;
    }
    
    #wrapper .invite.right {
        margin-bottom:0;
    }

    #wrapper .invite.right img {
        opacity:0.7!important;
    }

    #wrapper .invite.right .text {
        bottom:50px;
        width:90%;
        right:2em;
        font-size:.9em;
    }

    #wrapper .invite.right .oct {
        position:absolute;
        left:40px;
        bottom:60px;
    }

    #wrapper .invite.right .oct img {
        box-shadow:none;
        max-width:72%;
        display:none;
    }

    #formbg .form {
        width:95%;
    }

    #formbg {
        top:0;
    }
}

/* MOBILE */

@media(max-width:630px) {
    #wrapper {
        width:100%;
        flex-flow:column wrap;
        flex-direction:-ms-column;
        flex-wrap:-ms-wrap;
    }
    
    #wrapper .invite {
        align-self:center;
    }

    #wrapper .invite img {
        max-width:100%;
        height:auto;
    }
    
    /* #wrapper .invite.left {
        margin:auto;
        margin-bottom:45px;
    } */

    #wrapper .invite.left {
        display:none!important;
    }
    
    #wrapper .invite.right {
        margin-bottom:0;
    }

    #wrapper .invite.right img {
        opacity:0.7!important;
    }

    #wrapper .invite.right .text {
        bottom:50px;
        width:90%;
        right:2em;
        font-size:.8em;
    }

    #wrapper .invite.right .oct {
        position:absolute;
        left:40px;
        bottom:60px;
    }

    #wrapper .invite.right .oct img {
        box-shadow:none;
        max-width:55%;
    }

    #formbg {
        top:0;
    }
}

@media(max-width:565px) {

    body {
        margin-top:0;
    }

    #wrapper {
        width:100%;
        flex-flow:column wrap;
        flex-direction:-ms-column;
        flex-wrap:-ms-wrap;
    }
    
    #wrapper .invite {
        align-self:center;
    }

    #wrapper .invite img {
        max-width:100%;
        height:auto;
    }
    
    #wrapper .invite.left {
        margin:auto;
        margin-bottom:45px;
        display:none;
    }

    #wrapper .invite.right img {
        opacity:0.7!important;
    }

    #wrapper .invite.right {
        margin-bottom:0;
    }

    #wrapper .invite.right .text {
        bottom:2em;
        width:90%;
        right:0.5em;
        font-size:.9em;
    }

    #wrapper .invite.right .oct {
        position:absolute;
        left:40px;
        bottom:60px;
    }

    #wrapper .invite.right .oct img {
        box-shadow:none;
        max-width:35%;
        display:none;
    }

    #formbg {
        top:0;
    }
}

@media(max-width:490px) {
    
    body {
        margin-top:0;
    }
    
    #wrapper {
        width:100%;
        flex-flow:column wrap;
        flex-direction:-ms-column;
        flex-wrap:-ms-wrap;
    }
        
    #wrapper .invite {
        align-self:center;
    }
    
    #wrapper .invite img {
        max-width:100%;
        height:auto;
    }
        
    #wrapper .invite.left {
        margin:auto;
        margin-bottom:45px;
        display:none;
    }

    #wrapper .invite.right img {
        opacity:0.7!important;
    }

    #wrapper .invite.right {
        margin-bottom:0;
    }
    
    #wrapper .invite.right .text {
        bottom:2em;
        width:90%;
        right:0.5em;
        font-size:.8em;
    }
    
    #wrapper .invite.right .oct {
        position:absolute;
        left:40px;
        bottom:2em;
    }
    
    #wrapper .invite.right .oct img {
        box-shadow:none;
        max-width:25%;
        display:none;
    }

    #formbg .form {
        width:100%;
    }

    #formbg {
        top:0;
    }

    #formbg .form {
        font-size:13px!important;
        line-height:100%;
    }

    #formbg .form input {
        margin:3px!important;
        padding:4px!important;
    }
}

@media(max-width:390px) {
    
    body {
        margin-top:0;
    }
    
    #wrapper {
        width:100%;
        flex-flow:column wrap;
        flex-direction:-ms-column;
        flex-wrap:-ms-wrap;
    }
        
    #wrapper .invite {
        align-self:center;
    }
    
    #wrapper .invite img {
        max-width:100%;
        height:auto;
    }
        
    #wrapper .invite.left {
        margin:auto;
        margin-bottom:45px;
        display:none;
    }

    #wrapper .invite.right {
        margin-bottom:0;
    }

    #wrapper .invite.right img {
        opacity:0.7!important;
    }
    
    #wrapper .invite.right .text {
        bottom:2em;
        width:90%;
        right:0.5em;
        font-size:.6em;
    }
    
    #wrapper .invite.right .oct {
        position:absolute;
        left:40px;
        bottom:2em;
    }
    
    #wrapper .invite.right .oct img {
        box-shadow:none;
        max-width:25%;
        display:none;
    }

    #formbg {
        top:0;
        font-size:13px;
    }

    #formbg .form {
        font-size:13px!important;
        line-height:100%;
    }

    #formbg .form input {
        margin:3px!important;
        padding:4px!important;
    }
}



#fadebg {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.7);
    z-index:10;
}

#formbg { 
    width:100%;
    position:fixed;
    z-index:12;
}

.content {
    display:none;
}

#formbg .form {
    background:#f4f2ec;
    border-radius:3px;
    box-sizing:border-box;
    padding:45px;
    font-family:'Pitch Regular';
    font-size:16px;
    z-index:13;
    margin:auto;
    line-height:145%;
}

.form textarea {
    width:100%;
    box-sizing:border-box;
    padding:10px;
    background:#fff;
    border-radius:3px;
    border:1px solid #f4f2ec;
    font-family:'Pitch Regular';
    outline:0;
}

.form label {
    display:block;
    margin-bottom:10px;
    margin-top:10px;
}

.form input {
    display:block;
    background:#fff;
    margin-bottom:15px;
    border-radius:3px;
    border:1px solid #f4f2ec;
    padding:15px;
    box-sizing:border-box;
    width:100%;
    font-family:'Pitch Regular', monospace;
    z-index:13;
    outline:0;
}

.form button[type="submit"] {
    display:block;
    margin-top:5px;
    width:100%;
    padding:15px;
    background:#2a2a2a;
    border-radius:3px;
    border:1px solid #f4f2ec;
    cursor:pointer;
    font-family:'Pitch Regular', monospace;
    color:#fff;
}

#wrapper .invite.right {
    position:relative;
}

#wrapper .invite.right .text {
    position:absolute;
    line-height:140%;
    font-family:'Pitch regular';
    color:#111;
}

#wrapper .invite.right .text a {
    color:#111;
    text-decoration:none;
}