<div id="box-ref" class="referer-pop">
    <div class="box">
        <h1>Tack för din anmälan!</h1>
        Vi har skickat ett bekräftelse mail till den epost du angav med ytterligare information!
        <a href="#" id="close-ref">&times; Stäng</a>
    </div>
</div>